@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Noto+Sans:wght@400;600&display=swap');

body {
    margin: 0px;
    overflow: hidden;

    background-image: radial-gradient(circle, rgb(53, 125, 133) 0%, rgb(2, 27, 61) 100%);
}

#main-menu-container {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 100px;
}

#main-menu-title {
    font-family: 'Krona One', sans-serif;
    font-size: 100px;
    text-align: center;
    user-select: none;
    color: white;
}

#main-menu-rank {
    flex-grow: 1;
}

.main-menu-button {
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    width: 25%;
    max-width: 300px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    user-select: none;
    cursor: pointer;
    transform: matrix(1, 0, -0.4, 1, 0, 0);
    box-shadow: 0px 3px 0px rgba(255, 255, 255, 0.8), 0px 0px 60px rgba(255, 255, 255, 0.0);
    color: white;

    transition-property: all;
    transition-duration: 0.08s;
    transition-timing-function: ease-in-out;
}

.main-menu-button:hover {
    transform: matrix(1, 0, -0.4, 1, 0, -1);
    box-shadow: 0px 3px 0px rgba(255, 255, 255, 0.8), 0px 0px 60px rgba(255, 255, 255, 0.3);
}

.main-menu-button:active {
    transform: matrix(1, 0, -0.4, 1, 0, 1);
    box-shadow: 0px 3px 0px rgba(255, 255, 255, 0.8), 0px 0px 60px rgba(255, 255, 255, 0.3);
}

.main-menu-button>span {
    display: inline-block;
    transform: matrix(1, 0, 0.4, 1, 0, 0);
}

#main-menu-find-game {
    font-size: 48px;
    width: 50%;
    max-width: 600px;
    min-width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

#chat-container {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 25vw;
    min-width: 500px;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.05);

    display: flex;
    flex-flow: column nowrap;
}

#chat-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
}

#chat-channels {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
}

#chat-create-channel-container {
    padding: 10px;
    width: 30px;
    height: 30px;
}

#chat-create-channel {
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10000px;
    cursor: pointer;
    padding: 0px;
}

#chat-create-channel:active {
    transform: translateY(1px);
}

.channel-tab {
    font-family: 'Krona One', sans-serif;
    font-size: 14px;
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.1);

    transition-property: all;
    transition-duration: 0.08s;
    transition-timing-function: ease-in-out;
}

.channel-tab:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.active-channel-tab {
    background-color: rgba(255, 255, 255, 0.1);
}

.channel-tab-decorator {
    width: 20px;
    height: 20px;
    border-radius: 1000px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin-right: 10px;
}

#chat-messages {
    flex-grow: 1;

    display: flex;
    flex-flow: column-reverse nowrap;

    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
}

#chat-messages::-webkit-scrollbar {
    width: 10px;
    margin-left: 4px;
    margin-right: 4px;
}

#chat-messages::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1000px;
}

.message-container {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin-top: 15px;
}

.message-container:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.message-continuing {
    margin-top: 0px;
    margin-bottom: 2px;
}

.message-avatar {
    height: 44px;
    width: 44px;
    min-width: 44px;
    min-height: 44px;
    flex-basis: 44px;
    border-radius: 1000px;
    background-size: cover;
    background-position: center;
    margin-right: 13px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}

.message-avatar:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

.message-avatar:active {
    transform: translateY(1px);
}

.message-continuing .message-avatar {
    display: none;
}

.message-header-and-content {
    flex-grow: 1;
    width: 0px;
    /* WTF */
}

.message-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}

.message-continuing .message-header {
    display: none;
}

.message-author {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    background-color: transparent;
    border: none;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
    color: white;
    padding: 0px;
}

.message-author:hover {
    text-decoration: underline;
}

.message-time {
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.message-content {
    word-wrap: break-word;
}

.message-continuing .message-content {
    margin-left: 60px;
}

#chat-send-message-container {
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    border-radius: 6px;
    margin-top: 20px;
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
}

#chat-settings-button {
    width: 30px;
    height: 30px;
    outline: none;
    border-radius: 1000px;
    border: none;
    margin-left: 13px;
    margin-right: 14px;
    cursor: pointer;
}

#chat-settings-button:active {
    transform: translateY(1px);
}

#chat-send-message {
    font-family: 'Noto Sans', sans-serif;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    font-size: 18px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    flex-grow: 1;
}
